/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline");
@import url("https://fonts.googleapis.com/css?family=Lobster");
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 28, ../sass/screen.scss */
body {
  width: 1000px;
  margin: auto;
  background-color: slategray;
}

/* line 33, ../sass/screen.scss */
header {
  display: flex;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  background-color: white;
}
/* line 41, ../sass/screen.scss */
header .logo {
  width: 20%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
/* line 48, ../sass/screen.scss */
header .logo img {
  width: 50%;
}
/* line 51, ../sass/screen.scss */
header .logo h1 {
  padding-top: 10px;
}
/* line 56, ../sass/screen.scss */
header .title {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-sizing: border-box;
}
/* line 62, ../sass/screen.scss */
header .title .contact {
  text-align: right;
  padding: 10px;
  padding-right: 0;
}
/* line 69, ../sass/screen.scss */
header .title .menu ul {
  display: flex;
  background-color: grey;
  border-radius: 3px;
}
/* line 73, ../sass/screen.scss */
header .title .menu ul li {
  padding: 10px;
}
/* line 75, ../sass/screen.scss */
header .title .menu ul li:hover {
  background-color: red;
  color: white;
  text-shadow: 1px 1px black;
  transform: scale(1.1);
  transition: all 50ms;
  border-radius: 3px;
}

/* line 88, ../sass/screen.scss */
main {
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}
/* line 92, ../sass/screen.scss */
main .slider {
  height: 300px;
  width: 900px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
/* line 99, ../sass/screen.scss */
main .slider .bef, main .slider .aft {
  z-index: 10;
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-right: 50px solid black;
  opacity: 0.7;
}
/* line 110, ../sass/screen.scss */
main .slider .bef:hover, main .slider .aft:hover {
  cursor: pointer;
}
/* line 114, ../sass/screen.scss */
main .slider .aft {
  border-left: 50px solid black;
  border-right: none;
  right: 50px;
}
/* line 119, ../sass/screen.scss */
main .slider .bef {
  left: 50px;
}
/* line 123, ../sass/screen.scss */
main .slider .big_image {
  display: flex;
  position: relative;
  transition: all 1s;
  left: 0;
}
/* line 128, ../sass/screen.scss */
main .slider .big_image li {
  width: 900px;
}
/* line 133, ../sass/screen.scss */
main .slider .small_image {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
/* line 139, ../sass/screen.scss */
main .slider .small_image li {
  border: 2px solid black;
  padding: 3px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  position: relative;
}
/* line 146, ../sass/screen.scss */
main .slider .small_image li:hover {
  transform: translateY(-5px) scale(1.3) rotate(-5deg);
}

/* line 154, ../sass/screen.scss */
.content {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightgrey;
}
/* line 162, ../sass/screen.scss */
.content a {
  margin-top: 20px;
  box-sizing: border-box;
  display: inline-block;
  width: 40%;
  position: relative;
  box-sizing: border-box;
}
/* line 169, ../sass/screen.scss */
.content a img {
  width: 100%;
  height: 100%;
}
/* line 173, ../sass/screen.scss */
.content a span {
  position: absolute;
  left: 0;
  bottom: 3px;
  background-color: black;
  opacity: 0.7;
  color: white;
  font-size: 20px;
  width: 100%;
  min-height: 40px;
  max-height: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}
/* line 190, ../sass/screen.scss */
.content a span:hover {
  opacity: 1;
  background-color: red;
  text-shadow: 1px 1px black;
}

/* line 199, ../sass/screen.scss */
footer {
  background-color: grey;
  padding: 30px;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
