/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline");
@import url("https://fonts.googleapis.com/css?family=Lobster");
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 28, ../sass/screen.scss */
body {
  min-width: 900px;
  width: 50%;
  margin: auto;
}

/* line 34, ../sass/screen.scss */
header {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
}
/* line 39, ../sass/screen.scss */
header .logo {
  width: 20%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 44, ../sass/screen.scss */
header .logo img {
  width: 50%;
}
/* line 47, ../sass/screen.scss */
header .logo h1 {
  padding-top: 10px;
}
/* line 52, ../sass/screen.scss */
header .title {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-sizing: border-box;
}
/* line 58, ../sass/screen.scss */
header .title .contact {
  text-align: right;
  padding: 10px;
}
/* line 64, ../sass/screen.scss */
header .title .menu ul {
  display: flex;
  background-color: grey;
  border-radius: 3px;
}
/* line 68, ../sass/screen.scss */
header .title .menu ul li {
  padding: 10px;
}
/* line 70, ../sass/screen.scss */
header .title .menu ul li:hover {
  background-color: red;
  color: white;
  text-shadow: 1px 1px black;
  transform: scale(1.1);
  transition: all 50ms;
  border-radius: 3px;
}

/* line 84, ../sass/screen.scss */
.pxs_container {
  width: 100%;
  height: 420px;
  position: relative;
  border-top: 7px solid #333;
  border-bottom: 7px solid #333;
  overflow: hidden;
  -moz-box-shadow: 0px 0px 7px #000;
  -webkit-box-shadow: 0px 0px 7px #000;
  box-shadow: 0px 0px 7px #000;
}

/* line 95, ../sass/screen.scss */
.pxs_bg {
  background: transparent url(../images/bg.png) repeat top left;
}

/* line 98, ../sass/screen.scss */
.pxs_bg div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 7584px;
  /*1264px window width times number of images*/
  height: 420px;
  background-repeat: repeat;
  background-position: top left;
  background-color: transparent;
}

/* line 108, ../sass/screen.scss */
.pxs_bg .pxs_bg1 {
  background-image: url(../images/bg1.png);
  /*left negative 1/8 of ww*/
}

/* line 112, ../sass/screen.scss */
.pxs_bg .pxs_bg2 {
  background-image: url(../images/bg2.png);
  /*left negative 1/4 of ww*/
}

/* line 116, ../sass/screen.scss */
.pxs_bg .pxs_bg3 {
  background-image: url(../images/bg3.png);
  /*left negative 1/2 of ww*/
}

/* line 120, ../sass/screen.scss */
.pxs_slider_wrapper {
  display: none;
}

/* line 123, ../sass/screen.scss */
.pxs_container ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 128, ../sass/screen.scss */
ul.pxs_slider {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 420px;
}

/* line 134, ../sass/screen.scss */
ul.pxs_slider li {
  height: 420px;
  float: left;
  position: relative;
}

/* line 139, ../sass/screen.scss */
ul.pxs_slider li img {
  display: block;
  margin: 35px auto 0px auto;
  -moz-box-shadow: 0px 0px 7px #222;
  -webkit-box-shadow: 0px 0px 7px #222;
  box-shadow: 0px 0px 7px #222;
  border: 8px solid transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 150, ../sass/screen.scss */
ul.pxs_thumbnails {
  height: 35px;
  position: absolute;
  top: 320px;
  left: 50%;
}

/* line 156, ../sass/screen.scss */
ul.pxs_thumbnails li {
  position: absolute;
  display: block;
}

/* line 160, ../sass/screen.scss */
ul.pxs_thumbnails li img {
  border: 5px solid #FFFFFF;
  -moz-box-shadow: 1px 1px 7px #555;
  -webkit-box-shadow: 1px 1px 7px #555;
  box-shadow: 1px 1px 7px #555;
  cursor: pointer;
  display: block;
  opacity: 0.7;
}

/* line 169, ../sass/screen.scss */
ul.pxs_thumbnails li.selected img {
  opacity: 1.0;
}

/* line 172, ../sass/screen.scss */
.pxs_navigation span {
  position: absolute;
  width: 30px;
  height: 60px;
  -moz-box-shadow: 0px 0px 2px #000;
  -webkit-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
  top: 145px;
  opacity: 0.6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

/* line 186, ../sass/screen.scss */
.pxs_navigation span:hover {
  opacity: 0.9;
}

/* line 189, ../sass/screen.scss */
.pxs_navigation span.pxs_prev {
  background: #000 url(../images/prev.png) no-repeat center center;
}

/* line 192, ../sass/screen.scss */
.pxs_navigation span.pxs_next {
  background: #000 url(../images/next.png) no-repeat center center;
}

/* line 195, ../sass/screen.scss */
.pxs_loading {
  color: #fff;
  font-size: 20px;
  padding: 15px 15px 15px 50px;
  position: absolute;
  background: #333 url(../images/ajax-loader.gif) no-repeat 10px 50%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  opacity: 0.7;
  width: 180px;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -90px;
}
