/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Bungee+Inline");
@import url("https://fonts.googleapis.com/css?family=Lobster");
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 28, ../sass/screen.scss */
header {
  font-family: Lobster;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-sizing: border-box;
  position: relative;
}
/* line 38, ../sass/screen.scss */
header .logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: darkblue;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 45, ../sass/screen.scss */
header .logo:hover {
  color: red;
}
/* line 50, ../sass/screen.scss */
header .menu {
  display: flex;
  justify-content: space-between;
}
/* line 54, ../sass/screen.scss */
header .menu ul {
  display: flex;
}
/* line 58, ../sass/screen.scss */
header .menu li {
  font-size: 25px;
  font-weight: normal;
  color: black;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 66, ../sass/screen.scss */
header .menu li:hover {
  color: red;
  text-shadow: 1px 1px 0 black;
}
/* line 71, ../sass/screen.scss */
header .menu li .menu_inner {
  opacity: 0;
  display: block;
  width: 100%;
  position: absolute;
  top: -30px;
  left: 0;
  transition: all 0.4s;
  height: 3px;
  background-color: red;
}
/* line 83, ../sass/screen.scss */
header .menu li:hover .menu_inner {
  opacity: 1;
  top: 0;
}
/* line 91, ../sass/screen.scss */
header .contact {
  width: 20%;
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 99, ../sass/screen.scss */
main {
  position: relative;
  height: 100%;
}
/* line 103, ../sass/screen.scss */
main .main_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  animation: bgImg 7s linear;
}
@keyframes bgImg {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
